name: flutter_firebase_feature_feedback
description: "A Flutter package that enables developers to collect and manage feature feedback from their users using Firebase. Users can submit feature requests and vote on existing ones."
version: 0.0.4
homepage: https://github.com/Zee-Palm-LLC/flutter_firebase_feature_feedback  
repository: https://github.com/Zee-Palm-LLC/flutter_firebase_feature_feedback 
issue_tracker: https://github.com/Zee-Palm-LLC/flutter_firebase_feature_feedback/issues 

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  cloud_firestore: ^5.6.5
  firebase_core: ^3.12.1
  provider: ^6.1.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  mockito: ^5.4.5
  fake_cloud_firestore: ^3.1.0
  build_runner: ^2.4.15
  
false_secrets:
 - /example/lib/firebase_options.dart
 - example/android/app/google-services.json
 - example/ios/Runner/GoogleService-Info.plist
 - example/macos/Runner/GoogleService-Info.plist

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package

screenshots:
  - description: 'Feature Feedback Form'
    path: screenshots/add_feature_sheet.png
  - description: 'Feature List View'
    path: screenshots/home_page.png
  # Add more screenshots as needed
